// .theme--light.v-application {
//   background-color: #f7f7f7;
// }
.main-container {
  padding-block: 40px;
}

.centered-input {
  input {
    text-align: center;
  }
}

.v-text-field {
  &.x-small {
    .v-input__control {
      width: 50px;
      min-height: 30px !important;
    }

    .v-input__slot {
      min-height: 30px !important;
    }
  }
}
